<!-- @format -->
<%- include('./include/_header') %> 
<%- include('./include/_navbar') %>
<div class="container">
  <center>
    <h1>Current Employees</h1>
    <a href="/new" type="button" class="btn btn-primary add-new">
      <i class="fa fa-pencil" aria-hidden="true"> Add New</i></a
    >
  </center>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < users.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].fname %> <%= users[i].lname %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('./include/_footer') %>